.demo {
  background-color: var(--c-bg);
  border: 1px solid var(--c-divider);
  border-radius: 1px;
  margin-top: 1rem;
}

.demo-slot {
  padding: 40px 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;

}

.demo-actions {
  display: flex;
  height: 40px;
  padding: 0 8px;
  align-items: center;
  justify-content: space-between;
  border-top: 1px dashed var(--c-divider);
}

.demo-buttons {
  display: flex;
  align-items: center;
}

.demo-actions-expand,
.demo-actions-copy {
  margin: 0 0 0 16px;
  cursor: pointer;
  color: #666;
}

.demo-actions-tip {
  font-size: 12px;
  color: var(--c-brand);
}

.extra-class {
  border-top: 1px dashed var(--c-divider);
  box-sizing: border-box;
  margin: 0 !important;
}

.demo-platforms {
  display: flex;
  align-items: center;
}

.demo-title-desc {
  border-top: 1px dashed var(--c-divider);
  padding: 1.5em 1em;
  color: var(--c-text);
  position: relative;
  font-size: 14px;
}

.demo-title {
  position: absolute;
  top: 0;
  left: 1em;
  transform: translateY(-50%);
  background: var(--c-bg);
  font-weight: 500;
}